body {
  background-color: #a259e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

#buttons {
  display: flex;
  gap: 24px;
}

.btn {
  background-color: #5d3390;
  color: white;
  border: none;
  padding: 24px 32px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #4a2777;
}

.stop {
  background-color: #7e3e9b;
}

.stop:hover {
  background-color: #682f85;
}
